<div class="box">
  <h1>Travel for </h1>

</div>
<div class="box">
  <div class="btn-group">
    <%= button_tag '', class: 'btn btn-default' do %>
      <i class="fa fa-ban"></i>
      Cancel
    <% end %>
    <%= button_tag '', class: 'btn btn-default' do %>
      <i class="fa fa-car"></i>

      Add Travel
    <% end %>
  </div>
</div>
<div class="box">
  <table class="outline table table-striped table-hover outline " style="  outline: 2px solid #ccc;">
    <tr class="grey_background " id="hours">
      <th class="col-xs-12 col-sm-3">Vehicle</th>
      <th class="hidden-xs col-sm-3">Odometer Start</th>
      <th class="hidden-xs col-sm-3">Odometer Finish</th>
      <th class="hidden-xs col-sm-3">Travel Purpose</th>
    </tr>

    <tr>

    </tr>

  </table>
  <br>
</div>
