<tr>
  <td colspan="4" style="margin: 0%; padding: 0%">
    <div class="col-xs-12 col-sm-3 " style="padding: 0%">
      <%=  f.vehicle.rego_no %>
    </div>
    <div class="col-xs-6 col-sm-3" style="padding: 0%">
      <%=  f.od_start %>
    </div>
    <div class="col-xs-6 col-sm-3" style="padding: 0%">
      <%=  f.od_finish %>
    </div>
    <div class="col-xs-12 col-sm-12" style="padding: 0%">
      <%=  f.purpose %>
    </div>
  </td>
</tr>