
<li class="row  shadow invoice-<%= invoice.id %>">

  <div class="col-sm-3">
            <%= invoice.id %>
        <%= invoice.customer_fullname %>
    </div><div class="col-sm-9">
  <div class="pull-right">
    <%= link_to 'Show', invoice, class: 'btn btn-primary' %>
    </div>
    </div>



</li>
<br>

