<li class="row  shadow invoice-<%= invoice.id %>">
  <div class="col-md-6">
    <h5> <%= invoice.id %></h5>
  </div>
  <div class="col-md-6">
    <h5>
      <%= invoice.customer_full_name %>
    </h5>
    <%= link_to 'Show', invoice, class: "hidden" %>
  </div>
</li>
<br>

