<table class="table table-striped">
  <tr class="pdf-tr">
    <th>pay</th>
    <th>hours</th>
    <th>rate</th>
    <th>date</th>
    <th>project</th>
    <% @user_table.each_with_index do |u, i| %>
        <%= render 'pay_table.html.erb', u: u, i: i %>
    <% end %>

</table>