<table class="table table-striped">
  <tr class="pdf-tr">
    <th>
      pay
    </th>
    <th>date</th>
    <th>project</th>
    <% @user_table.each do |u| %>
        <%= render 'pay_table', u: u %>
    <% end %>
  <tr><td>Total Income <%= @total_pay %></td></tr>
</table>