<tr>
  <td>
    <div class="field">
      <%= f.number_field :rate, class: 'pay_rate' %>
      <p>This will update the users pay rate from today. All previous records will retain the same pay rate</p>

    </div>
  </td>
  <td>
  </td>
</tr>