<li class="row shadow user-<%= user.id %>">
         <div class="col-8">
         <strong>
           <%= user.full_name %>
         </strong>

       </div>
        <%= link_to 'Open', user, class: "hidden" %>
</li>
<br>