<li class="shadow user-<%= user.id %>">
         <div class="col-sm-9">
         <strong>
           <%= user.full_name %>
         </strong>

       </div>
        <%= link_to 'Open', user, class: "btn btn-primary" %>
</li>
<br>