<li class="shadow user-<%= customer.id %>">
  <div class="row">
  <div class="col-sm-9">
    <strong>
      <%= customer.full_name %>
    </strong>

  </div>
  <%= link_to 'Open', customer, class: "hidden" %>
  </div>
</li>

<br>