<li class="shadow customer-<%= customer.id %>">
  <div class="row">
  <div class="col-sm-9">
    <h5>
      <%= customer.full_name %>
    </h5>

  </div>
  <%= link_to 'Open', customer, class: "hidden" %>
  </div>
</li>

