<br>
<div class="btn-group">
<%= link_to 'Customer Details' , customer_details_path(@customer), remote: :true, class: 'btn btn-default' %>
<%= link_to 'Edit' , edit_customer_path(@customer), remote: :true, class: 'btn btn-default' %>
  <%= link_to 'Back', customers_path, class: 'btn btn-default' %>
</div>
<div id="customer_partial">
<%= render 'details' %>
</div>

