<li class="row  shadow project-<%= project.id %>">
  <div class="col-md-6">
    <h5> <%= project.name%></h5>
  </div>
  <div class="col-md-6">
    <h5>
      <%= project.customer.full_name %>
    </h5>
    <%= link_to 'Show', project, class: "hidden" %>
  </div>
</li>
<br>






