

<head>
  <meta charset="UTF-8" />
  <title>Google Drive File Picker Example</title>
</head>
<body>
<button type="button" id="pick">Pick File</button>

<script>
    function initPicker() {
        var picker = new FilePicker({
            apiKey: 'FJjQRoeLAiMCmdQdfIixbC--',
            clientId: '1050724635047-72t5n7e8ji3rodq9acep2b66oa1pnohv.apps.googleusercontent.com',
            buttonEl: document.getElementById('pick'),
            onSelect: function(file) {
                console.log(file);
                alert('Selected ' + file.title);
            }
        });
    }
</script>

<script src="https://www.google.com/jsapi?key=AIzaSyDKnsvSSmDPa8Mn9f_u-Tnt4gBe_EwPQb4"></script>
<script src="https://apis.google.com/js/client.js?onload=initPicker"></script>
</body>
