<div class="box">
  <h1>  <%= @time_sheet.user.full_name %></h1>
  <h2>   <%= @time_sheet.time_period.strftime("%d %A %B %Y") %></h2>
</div>
<%= render 'buttons' %>

<div class="box">
  <%= render 'form', time_sheet: @time_sheet %>
</div>

