
<p id="notice"><%= notice %></p>

<h1>Time Sheets</h1>

<%=month_calendar  do |date| %>

 <%= date.strftime("%d %a %b ") %>
    <% if TimeSheet.has_time_sheet(date,current_user.id) %>
        <div class="has-time-sheet">

        </div>
<% end %>

<%end %>
