<div class="box">
  <h1>  <%= @day.user.full_name %></h1>
  <h2>   <%= @day.time_period.strftime("%d %A %B %Y") %></h2>
</div>
<%= render 'buttons' %>

<div class="box">
  <%= render 'form', time_sheet: @day %>
</div>

