/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body, html, .container-fluid, .sidebar, .body {
    height: 100%;
    min-height: 100%;

}

footer {
    margin-top: 100px;
    padding:0px;
}
table{
    width: 100%;
}
table, td, th ,tr,td{
    vertical-align: center;
    border: none;
}
.grey_backgound {
    background-color: #f0f0f0;
}
th {
    border-bottom: 1px solid #DDD;
}
/*div {*/
    /*outline: 2px solid #ccc;*/
/*}*/
.outline {
    outline: 2px solid #ccc;
}

.sidebar-background{
    background-color: #f0f0f0;
    position:absolute;
    top:0; bottom:0; left:0;
    width:50px;
}
#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    width: 250px;
    height: 100%;
    overflow-y: hidden;
    background: lightgrey;
    opacity: 0.9;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-left: 260px;
    padding-right: 10px;

}

#wrapper.menuDisplayed #sidebar-wrapper {
    width: 0px;

}
#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 10px;
    padding-right: 10px;

}

.sidebar-nav {
    padding: 0;
    list-style: none;

}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;

}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: gray;

}

.sidebar-nav li a:hover {
background: #16AO85;

}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0 !important;
    border: 1px solid transparent;
}
