/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

//chat style

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 1px;
  background: black;
}

//chat style



body, html, .container-fluid, .sidebar, .body {
  height: 100%;
  min-height: 100%;

}
.body-container {

  z-index: -1;
}

body{
  padding-top: 50px;
  margin-right: 20px;
}

footer {
  margin-top: 100px;
  padding: 0px;
}

table {
  width: 100%;
}

table, td, th, tr, td {
  vertical-align: center;
  border: none;
}

.grey_background {
  background-color: #f0f0f0;
}

th {
  border-bottom: 1px solid #DDD;
}

/*div {*/
/*outline: 2px solid #ccc;*/
/*}*/
.outline {
  outline: 2px solid #ccc;
}


  .form-group {
    margin: 0;
    padding: 0;
  }

  li.shadow {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 19px;
    margin-bottom:10px;
  }

  li.darkShadow {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: grey;;
  }

  li.background {
    //background-color: grey;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.6), 6px 12px 30px 0 rgba(0, 0, 0, 0.19);
    //font-size: 150%;

  }
  .btn-primary {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd; /*set the color you want here*/

  }
  .button:focus, .button.active, .button.active:focus {
    color: white !important;
  }
  a:link {
    text-decoration: none;
  }
  hidden {
    visibility: hidden
  }


* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}
.menu ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
  z-index: 9;
  visibility: visible;

}
.menu a{
  color: white;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: white;
  }
}

.menu li {
  padding: 8px;

  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

.menu-hide-mobile {
  visibility: visible;
  //margin: 10px auto 5px 20px;
  z-index: 1;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;


}
@media screen and (max-width: 1030px) {
  li.mar-btm.message {
    max-width: 95%;
    min-width: 95%; /* This line changed */
    float: right;
    //background: rgba(0,0,0,0.1);
    border-radius: 20px 20px 20px 20px;
    padding: 10px 0px;
    margin: 10px 0px;
  }
  .speech {
    padding: 5px 5px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  .menu-hide-mobile {
    visibility: hidden;
    clear: both;
    float: left;

    //display: none;
  }
  .sbar{
    background-color: transparent !important;
  }
  .box {
    margin: 0;
  }
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .container-fluid{
    margin: 0;
    padding-left: 4px!important;
    padding-right: 4px !important;
  }
}

.overflow-hidden{
  text-overflow: hidden
}
  size {
    width: 100%;
  }

.box {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 19px;
  margin-bottom:10px;
}
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
.icon-bar {
  color: white !important;
  border-color: white;
  background-color: white;
}
.sbar{
  background-color: #7C7C7C;
}