<table>

  <tr>
    <th>Commit</th>
    <th>Date</th>
    <th>Link</th>
  </tr>
  <% @commits.each do |v, i| %>
    <tr>
      <td>  <%= v['commit']['message'] %></td>
      <td>  <%= Time.parse(v['commit']['author']['date']).strftime("%A %b/%d/%Y") %></td>
      <td>  <%= link_to 'GO TO', v['html_url'], class: 'btn btn-default' %></td>
    </tr>
  <% end %>


</table>